---
import items from '../recipes/item.json';

const topItems = items
  .filter(item => item.sold_count != null)
  .sort((a, b) => b.sold_count - a.sold_count)
  .slice(0, 4);
---
<section class="max-w-7xl mx-auto px-8 md:px-16 py-section-gap bg-background">
<div class="flex justify-between items-end mb-16 border-b border-black/10 pb-8">
<div>
<h3 class="font-headline-lg text-headline-lg uppercase mb-2">CURATED SELECTION</h3>
<p class="font-body-md text-on-surface-variant">Precision-engineered garments for the modern curator.</p>
</div>
<div class="hidden md:block">
<a class="font-label-caps text-label-caps border-b border-black pb-1 hover:opacity-50 transition-opacity" href="/catalog">VIEW ALL COLLECTIONS</a>
</div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-gutter">
{topItems.map((item) => (
    <div class="product-card flex flex-col group cursor-pointer h-full hover:-translate-y-2 hover:shadow-2xl transition-all duration-300 p-2 rounded-xl">
        <div class="product-image-container aspect-[3/4] overflow-hidden bg-surface-container mb-6 relative rounded-lg">
            <a href={item.aff_url} target="_blank" class="block w-full h-full">
                <img class="w-full h-full object-cover  transition-transform duration-700 hover:scale-105" alt={item.name} src={item.image_url} />
            </a>
            {item.isNew && (
                <div class="absolute top-4 left-4 bg-white px-3 py-1 border border-zinc-900 opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="font-label-caps text-[9px] font-bold text-zinc-900 tracking-widest">NEW ARRIVAL</span>
                </div>
            )}
        </div>
        <div class="space-y-1 flex-1 flex flex-col">
            <p class="font-label-caps text-[10px] text-on-surface-variant uppercase tracking-widest">{item.category || "Item Sold : "+item.sold_count}</p>
            <h4 class="font-headline-md text-body-lg uppercase">{item.name}</h4>
            <p class="font-body-md text-[#000] mt-auto">Rp {new Intl.NumberFormat('en-US').format(item.price)}</p>
        </div>
        <div class="mt-auto pt-6 space-y-2">
            <a class="block w-full text-center py-4 bg-black text-white font-label-caps text-[11px] tracking-widest hover:bg-[#EE4D2D] transition-colors" href={item.aff_url} target="_blank">SHOP ON SHOPEE</a>
            <a class="block w-full text-center py-4 bg-transparent border border-black text-black font-label-caps text-[11px] tracking-widest hover:bg-[#00AA5B] hover:border-[#00AA5B] hover:text-white transition-all" href="https://tokopedia.com" target="_blank">GET IT ON TOKOPEDIA</a>
        </div>
    </div>
))}
</div>
</section>
